<div class="container-fluid p-5">
    <h1 class="fw-bold display-2 text-center text-light title">Projects</h1>

    <div class="list-group mt-4">
        <a href="http://facundocg.pythonanywhere.com/iniciar-sesion?next=/" class="list-group-item list-group-item-action bg-transparent">
            <h5 class="mb-1 fw-bold subtitle">Task Center</h5>
            <p class="mb-1 fw-bold text">Task Center is an application where you can write down your daily tasks. If you want to use it, you have to create a user. The website was made only with Django (Python framework).</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action disabled bg-transparent">
            <h5 class="mb-1 fw-bold subtitle">Study-Time</h5>
            <p class="mb-1 fw-bold text">Study Time is my personal timetable which I use to keep track of my times. The website was created with Django.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action disabled bg-transparent">
            <h5 class="mb-1 fw-bold subtitle">Code&Co</h5>
            <p class="mb-1 fw-bold text">Code&Co is a website about programming challenges which has professional possibility.</p>
        </a>
        <!-- Add more project items as needed -->
    </div>

    <p class="text fw-bold mt-5">These are just a few examples of the projects I have worked on. Each project demonstrates my ability to create innovative and functional web solutions tailored to meet specific client requirements. Feel free to click on the project names to learn more about each project and view live demos or source code if available.
    </p>

    <p class="text fw-bold">I am continually updating my portfolio with new projects, so be sure to check back regularly to see my latest work. If you have a project in mind or would like to discuss any of the showcased projects in detail, don't hesitate to reach out. I am excited to collaborate on new opportunities and help bring your ideas to life!</p>
</div>